!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet',href="css/angular-material.min.css")
    //link(rel='stylesheet',href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet',href="css/style.css")
    link(rel='stylesheet',href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.deep_orange-red.min.css")
    link(rel='stylesheet',href="https://fonts.googleapis.com/icon?family=Material+Icons")

  body
    block body