!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet',href="css/angular-material.min.css")

    //link(rel='stylesheet',href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet',href="css/style.css")
    link(rel='stylesheet',href="https://code.getmdl.io/1.1.1/material.teal-indigo.min.css")
    link(rel='stylesheet',href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet',href="css/github-markdown.css")
    link(rel='stylesheet',href="css/loading-bar.css", type='text/css', media='all' )

  body
    block body